.boardWrapper {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.options {
    align-self: center;
    display: flex;
    flex-direction: column;

}

.option {
    height: 2em;
    display: inline-block;
    align-self: stretch;
    width: max-content;
}

.board {
    display: grid;
    grid-template-columns: repeat(29, auto) 1fr;
    grid-template-rows: repeat(30,auto) 1fr;
    padding: 10px
}
